{#
This file is part of EC-CUBE

Copyright(c) 2000-2015 LOCKON CO.,LTD. All Rights Reserved.

http://www.lockon.co.jp/

This program is free software; you can redistribute it and/or
modify it under the terms of the GNU General Public License
as published by the Free Software Foundation; either version 2
of the License, or (at your option) any later version.

This program is distributed in the hope that it will be useful,
but WITHOUT ANY WARRANTY; without even the implied warranty of
MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the
GNU General Public License for more details.

You should have received a copy of the GNU General Public License
along with this program; if not, write to the Free Software
Foundation, Inc., 59 Temple Place - Suite 330, Boston, MA  02111-1307, USA.
#}
{% extends 'default_frame.twig' %}

{% set mypageno = 'index' %}

{% set body_class = 'mypage' %}

{% block main %}
    <h1 class="page-heading">マイページ</h1>
    <div id="history_wrap" class="container-fluid">

        {% include 'Mypage/navi.twig' %}

        <div id="history_list" class="row">
            <div id="history_list__body" class="col-md-12">
                <p id="history_list__not_result_message" class="intro">マイページです。</p>
            </div><!-- /.col -->
        </div><!-- /.row -->

    </div>
{% endblock %}
